In [6]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\sim\anaconda3\lib\site-packages (from pandas_datareader) (1.4.1)
Requirement already satisfied: lxml in c:\users\sim\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\sim\anaconda3\lib\site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sim\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sim\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sim\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\sim\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pandas_datareader import data

df = data.DataReader("^KS11","yahoo")
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-03-15,2135.379883,2127.260010,2128.419922,2133.000000,374700,2133.000000
2017-03-16,2156.850098,2143.010010,2154.979980,2150.080078,402400,2150.080078
2017-03-17,2164.590088,2148.860107,2150.469971,2164.580078,302800,2164.580078
2017-03-20,2160.570068,2151.510010,2160.320068,2157.010010,264900,2157.010010
2017-03-21,2181.989990,2160.250000,2162.949951,2178.379883,303900,2178.379883
...,...,...,...,...,...,...
2022-03-07,2680.169922,2644.100098,2680.169922,2651.310059,571300,2651.310059
2022-03-08,2647.179932,2605.810059,2617.330078,2622.399902,540100,2622.399902
2022-03-10,2682.790039,2660.860107,2660.860107,2680.320068,613500,2680.320068
2022-03-11,2672.620117,2647.280029,2665.949951,2661.280029,796500,2661.280029
2022-03-14,2661.760010,2645.120117,2654.929932,2652.520020,243379,2652.520020

In [15]:
from datetime import datetime

start_date = datetime(2019,1,1)
end_date = datetime(2019,12,31)

df = data.get_data_yahoo("^KS11", start_date, end_date) 
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,2053.449951,2004.270020,2050.550049,2010.000000,326400,2010.000000
2019-01-03,2014.719971,1991.650024,2011.810059,1993.699951,428000,1993.699951
2019-01-04,2011.560059,1984.530029,1992.400024,2010.250000,409000,2010.250000
2019-01-07,2048.060059,2030.900024,2034.239990,2037.099976,440200,2037.099976
2019-01-08,2042.699951,2023.589966,2038.680054,2025.270020,397800,2025.270020
...,...,...,...,...,...,...
2019-12-23,2209.199951,2196.429932,2208.219971,2203.709961,502000,2203.709961
2019-12-24,2206.229980,2187.580078,2206.229980,2190.080078,570000,2190.080078
2019-12-26,2198.010010,2183.899902,2192.219971,2197.929932,571300,2197.929932
2019-12-27,2215.550049,2177.399902,2183.699951,2204.209961,490200,2204.209961
2019-12-30,2208.040039,2195.649902,2202.620117,2197.669922,416400,2197.669922

In [12]:
df.to_csv('2019ì½”ìŠ¤í”¼ì§€ìˆ˜.csv')